.header__lang-link {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .header__lang-link {
    transition: opacity 0.2s;
  }
  
  .header__lang-link:hover {
    opacity: 0.8;
  }
}