.cover__subtitle {
  z-index: 1;
  color: #ffffff;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: flex-end;
  justify-self: center;
  margin: 0;
}

@media screen and (max-width: 768px){
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  } 
}